.background, .background-border{
  background-color: #DCE2D3;
border-top-right-radius: 200px;
border-bottom-left-radius: 80px;
}

.background{
  padding: 5px;

}

.background-border{
border: 3px solid white;
}




header{

  padding-bottom: 100px;
}

header::before{
  content: "";
  display: block;
  width: 229px;
  background-repeat: no-repeat;
  top: 0;
  height: 219px;
  right: 0;
  background-image: url("../img/flor.png");
  position: absolute;
 
}




.nomes{
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: #475248;
  text-transform: uppercase;
 

  
 
}


.nomes p {
  line-height: 1;
 
}

.e{
  width: 80%;
  position: relative;

  
}


.e::before{
  content: "";
  display: block;
  width: 30%;
  left: 0;
  top:20px;
  height: 1px;
  position: absolute;
  background-color: #5F4E3E;
}

.e::after{
  content: "";
  display: block;
  width: 30%;
  right: 0;
  top:20px;
  height: 1px;
  position: absolute;
  background-color: #5F4E3E;
}

.frase{
  text-align: center; 
}

.frase p {
  padding-bottom: 5px;
}


.convidam{
  padding-top: 20px;
}

.convidam, .local{
  display: flex;
  justify-content: right;
  flex-direction: column;
}

.convidam p,.local p{
  text-align: center;
}

.data{
  padding-top: 10px;
  text-align: center;
  font-weight: bold;
}



.endereco{
  font-weight: bold;
}

.links img{
  align-self: flex-end;
 
}

.links{
  display: flex;
  justify-content: center;
  gap: 30px;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 40px;
  
}
.links p, .copy-button button{
  text-align: center !important;
  color: #4C4C4B;
  font-weight: bold;
  position: relative;
  z-index: 1;
}

footer{
  text-align: center;
  padding-top: 10px;
  display: flex;
  display: flex;
  justify-content: center;

}

body{
  position: relative;
}

footer::before{
  content: "";
  display: block;
  width: 100%;
  background-repeat: no-repeat;
  bottom: 0;
  height: 186px;
  position: absolute;
  background-image: url("../img/flor-2.png");
  transform: scaleX(1) scaleY(-1);
  
 
}

footer p {
  display: flex;
  align-items: center;
  gap: 10px;
}



@media(min-width:700px){
  .nomes{
    align-items: center;
  }
  .convidam, .local{
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  
  .convidam p,.local p{
    text-align: center;
  }



  }

.links a{
padding: 5px;

  
}

.links p{
  padding-top: 5px;
}




.copy-button{
  background-color: transparent;
  border: none;
  padding-top: 20px;

  
  
}

#copy-message{
text-align: center;
font-weight: bold;

}

.hidden {
  display: none;
}


.presente-logo{
  width: 35px;
}